body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.search-bar button .fa-spin {display: none;}
.search-bar button span {display: inline-block;}
.search-bar button.loading .fa-spin {display: inline-block;}
.search-bar button.loading span {display: none;}

.stations{
  color: #047bd8 !important;
  text-transform: uppercase;
  background: #ddf0ff;
  padding: 30px;
  border-radius: 50px;
  display: table-column;
  border: none;
  margin: 10px;
}
.stations:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  transition: all 0.4s ease 0s;
  }

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}
svg {
  height: 150px;
}

.map {
  display: table;
  margin: 0 auto;
  height: 500px;
  width: 500px;
}
